.restauranteApresentacao {
    background-image: linear-gradient(to bottom, transparent 0%, #000 150%), url("../public/images/fotoRestaurante.jpg");
    background-size: cover;
}
.restauranteApresentacao:hover {
    transition-duration: 0.5s;
    transform: scale(0.98);
}

.iconHotel:hover {
    animation: slide1 1s ease-in-out infinite;
}

.divCard:hover {
    transition-duration: 1s;
    transform: translate(0px, -5px);
}

/* Card Agenda */
.cardAgenda {
    transition: all 0.5s;
}
.cardAgenda:hover {
    transform: translateX(5%);
}

@keyframes slide1 {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10px, 0);
    }
}

@media(max-width: 770px) {
    .imgEstabelecimentos {
        width: 20vh;
    }
}