.paiFooter {
    display: flex;
    justify-content: space-around;
    padding: 45px 0px;
}
.inputNot {
    width: 40vh;
    border-radius: 4px;
    background-color: #fff;
}
.itemFooter {
    text-decoration: none;
}
.iconButton {
    display: inline;
}

@media(max-width: 770px) {
    .paiFooter {
        display: inline-block;
        text-align: center;
    }
    .iconButton {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}