.inputNot {
    width: 40vh;
    border-radius: 4px;
    background-color: #fff;
}
.itemFooter {
    text-decoration: none;
}
.iconButton {
    display: inline;
}

@media(max-width: 770px) {
    .iconButton {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}