.logar {
    display: flex;
    align-items: center;

    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    color: green;
    background-color: #fff;
}
.paiHeader {
    background-color: #52AA5E;
}

.navs {
    margin: 5px;
    padding: 8px;
    text-decoration: none;
    color: #eeeeee;
    border-bottom: 2px solid #2d6a4f;
}
.navList {
    display: flex;
    list-style: none;
}

.textHome {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

@media(max-width: 770px) {
    .textHome {
        display: none;
    }
    .navList {
        display: none;
    }
}